
<!DOCTYPE html />



<div class="pagebody">
<h1> PIBLOGINTHESKY </h1>


<!--
<hr>
Params: <%= params.inspect %>
<hr> -->

<!-- <form action='/' method="POST">
  <p>First Name:
  <input type="text" name="first_name" /></p>

  <p>Last Name:
  <input type="text" name="last_name" /></p>

  <p>Password:
  <input type="password" name="password" /></p>

  <input type="submit">

</form action> -->



</div>
