

<div class="about">



<img src="/thischick.jpg" width="200">

<h1>Latinx. Chonga. Coder.</h1>

<p> Chonga feminista with a knack for stirring the pot. Causing a ruckus in the Pacific North West since 2013.</p>

<p>This blog is about sex, coding, and racism.
</p>

<!-- <div bottom><footer>
</footer></div>


  <h1> "ლ!◍ᴥ◍!ლ" </h1> -->

</div>
