



<div class="postbody">

<h3>POSTS</h3>



<% @posts.each do |post| %>
  <article>
    <h3><%= post.title %></h3>

    <%= post.content %>
    <p><%= link_to "Edit", edit_post_path(post.id) %></p>
    <hr>
  </article>
<% end %>

<%= link_to "New Post", new_post_path %>


</div>
