




<!DOCTYPE html />
<html>

<head>
  <title>Piblog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js">
   </script>

</head>
<body>
    <div class=top></div>
    <div class=bottom></div>
    <div class=left></div>
    <div class=right></div>

    <div class="header">
      <div style="text-align: center;"><img src = "/chonga.jpg" ></div>
      <p></p>
      <div class="links">
        <ul class="nav">
          <li><a href= "/">Home</a></li>
          <li><a href= "/posts/about_me">About</a>
            <!-- <ul class="dropdown">
              <li><a href= "/posts/about_me">Bio</a></li>
              <li><a href= "/contact">Contact</a></li>
            </ul> -->
          </li>
          <li><a href= "/posts/">Posts</a></li>
          <li><a href= "/home/instagram">Photostream</a></li>
          <li><a href= "/map">Map</a></li>

        </ul>
      </div>
    </div>







<%= yield %>

<div class="media">
  <a href= "https://twitter.com/pi_inthecloud"  target="_blank"><img src = "/twitter.png"></a>
  <a href= "https://github.com/piinthecloud"  target="_blank"><img src = "/Github.png"></a>
  <a href= "https://www.linkedin.com/pub/stephanie-pi/25/6ab/b44"  target="_blank"><img src = "/linkedin.png"></a>
  <!-- <a href= "https://pibloginthesky.wordpress.com/"><img src = "/wordpress.png"  target="_blank"></a> -->
</div>

</body>


</html>
